:root {
    --primary-color: #49666d;
    --secondary-color: #f9f9f9;
    --text-color: #333;
    --font-family: Arial, sans-serif;
    --color-listas: #554dc4;
}

::selection {
    background-color: aquamarine;
    color: black; 
}

/* Estilos generales */
body {
    font-family: var(--font-family);
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: var(--text-color);
    background-image: url(fondoindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-model {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

header h1::before {
    content: "★ ";
    color: var(--primary-color);
}

/* Encabezado principal */
header {
    background-color: #49666d;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

#sobre-mi {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#experiencia {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
}

#educacion {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#lenguages {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#intereses-personales {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#intereses-profesionales {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul li::marker {
    color: var(--color-listas); 
}

ul {
    list-style: circle; 
    margin: 10px 0;
    padding: 20px;
}

 

#navegacion-index {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: larger;
    text-size-adjust: auto;
    width: 300px;
    border-radius: 8px;
}

#navegacion-horario {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    margin-top: 10px;
    font-size: larger;
    text-size-adjust: auto;
    margin: auto;
    width: 300px;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#navegacion-intereses {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    margin-top: 10px;
    font-size: larger;
    text-size-adjust: auto;
    margin: auto;
    width: 300px;
    border-radius: 8px;
    margin-top: 8px;
}

#header-horario {
    color: white;
    padding: 20px 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #49666d;
    color: white;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
